/*.card {
    margin: 0!important;
    & .description {
        display: flex;
        justify-content: space-between;
    }
    & .card-body {
        width: 90%;
    }
}*/

.card-product {
    width: 98%;
    margin: 10px auto;
    border-radius: 20px!important;
    @include tablette {
        width: 75%;
        margin: 15px;
        justify-content: space-around;
    }
    @include pc {
        width: 70%;
        margin: 15px;
        justify-content: space-around;
    }
    @include pc-xl {
        width: 85%;
        margin: 15px;
        justify-content: space-around;
    }
    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-bottom: 1px solid $color-border;
        border-radius: 20px 20px 0 0;
        @include tablette {
            height: 400px;
        }
        @include pc {
            height: 500px;
        }
        @include pc-xl {
            height: 600px;
        }
    }
    & .name-price {
        padding: 15px;
        font-size: 1rem;
        font-weight: bold;
    }
    & .prod-descrip {
        margin: 10px 0;
        padding: 0 10px;
        text-align: justify;
        font-size: 16px;
    }
    & p {
        font-size: 16px;
    }
    & .option-choice {
        display: flex;
    }
    & .btn {
        color: $primary-font-color;
    }
}