/* #navbarTogglerDemo02 {
  width: 14%;
} */

#title-page {
    width: 100%;
    margin: auto;
    text-align: center;
}

#title-page p {
    color: #b7718e;
    font-size: 18px;
    font-weight: 600;
}

h1 {
    color: #df871c;
    font-size: 32px;
    margin: 15px 0;
}

#result {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    /* width: 40%; */
    margin-bottom: 35px;
    border-radius: 25px;
}

.card-img-top {
    max-height: 275px;
    object-fit: initial;
    border-radius: 25px 25px 0 0;
}

.description {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 24px;
}

.description p {
    font-size: 20px;
    font-weight: bold;
}

.description a {
    margin-left: 25%;
}

.info-social {
    display: flex;
    justify-content: space-around;
}

.info,
.info-social,
#copyright {
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

#copyright {
    text-decoration: underline;
}

.img-article {
    width: 100%;
    height: auto;
}

.width-img {
    width: 15%;
}

table,
thead,
th,
td {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(109, 109, 109);
    font-size: 18px;
    font-weight: 600;
}

tr {
    height: 80px;
}

.clear {
    font-size: 32px;
}