$color-primary: #9356dc;
$color-secondary: #e0850e;
$color-tertiary: whitesmoke;
$primary-font-color: #000000;
$secondary-font-color: #ffffff;
$color-border: #dfdfdf;
$color-icon: #0065fc;
$footer: #353535;
$police-text: "Roboto";
$tablette-min: 768px;
$tablette-max: 1024px;
$pc-ecran-min: 1025px;
$pc-ecran-max: 1440px;
$pc-ecran-xl-min: 1441px;
$pc-ecran-xl-max: 1920px;